/************************************HTML ELEMENTS*****************************/
a {
  color: #112d4e;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

a:hover{
  color: #a0c1b8;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #40514E;
}

h1 {
  font-size: 4rem;
  margin: 50px auto 0 auto;
  font-family: 'Rancho', cursive;
  color: #709fb0;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  color: #112d4e;
}

h3 {
  font-family: 'Cinzel', serif;
  color: #112d4e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7px;
  width: 5%;
  margin: 100px auto 100px auto;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

figcaption {
  line-height: 2;
  margin-bottom: 75px;
  font-size: 1.2rem;
}

/************************************CLASS ELEMENTS****************************/
/* CSS rules for font families
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Zilla Slab', serif;


font-family: 'Cinzel', serif;
font-family: 'Rancho', cursive;
font-family: 'Roboto Slab', serif;
*/

.bottom-satellite {
  position: absolute;
  left: 46.875rem;
  bottom: 15.625rem;
  width: 3%;
}

.bottom-container {
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  color: #709fb0;
}

.hobby-heading {
  text-align: center;
}

.book-image {
  width: 18%;
  float: left;
  margin-right: 30px;
  margin-bottom: 0;
}

.chess-image {
  width: 18%;
  float: right;
  margin-left: 30px;
  margin-bottom: 60px;
}

.guitar-image {
  width: 18%;
  float: left;
  margin-right: 30px;
  margin-bottom: 60px;
}

.middle-container {
  margin: 100px;
}

.my-image {
  padding-top: 10px;
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
  text-align: center;
}

.programmer {
  font-weight: normal;
  color: #709fb0;
  font-size: 1.5rem;
}

.rocket {
  position: absolute;
  right: 28.125rem;
  top: 22.125rem;
  width: 6%;
}

.saturn {
  position: absolute;
  right: 7.8125rem;
  top: 7.8125rem;
  width: 6%;
}

.skill-caption {
  margin-bottom: 10px;
}

.skill-image {
  display: inline-block;
}

.skill-image span {
  display: none;
}

.skill-row {
  width: 68.75rem;
  margin: 100px auto 100px auto;
  text-align: justify;
}

.skill-image:hover span {
  display: inline-block;
}

.software-image {
  width: 80%;
}

.soft-skills {
  text-align: center;
}

.top-container {
  margin-top: 0;
  background-image: url(./images/images/8320.jpg);
  position: relative;
  padding-top: 40px;
  background-repeat: space;
}

.trademark {
  padding: 20px 0;
  font-size: 0.75rem;
  color: #EAF6F6;
}

.world {
  padding-top: 175px;
  width: 15%;
  height: auto;
}

.contact-me-btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.contact-me-btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.contact-me-btn:active {
	position:relative;
	top:1px;
}
